.cessna {
    position: absolute;
    transform: scale(-1, 1);
    animation: fly;
    animation-timing-function: linear;
    animation-duration: 3s;
    width: 40%;
    margin-left: 95%;
    margin-top: 7%;
    z-index: 1;
}

.cessna-i {
    position: absolute;
    animation: i-fly;
    animation-timing-function: linear;
    animation-duration: 3s;
    width: 40%;
    margin-left: -40%;
    margin-top: 7%;
    z-index: 2;
}

@keyframes fly {
    from {
        /* opacity: 0.3; */
        width: 0%;
        margin-left: 0;
        margin-top: 0;
    } to {
        opacity: 1;
        width: 40%;
        margin-left: 95%;
        margin-top: 7%;
    }
}


@keyframes i-fly {
    from {
        /* opacity: 0.3; */
        width: 0%;
        margin-left: 95%;
        margin-top: 0%;
    } to {
        opacity: 1;
        width: 40%;
        margin-left: -40%;
        margin-top: 7%;
    }
}