* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(https://images.unsplash.com/photo-1690944210909-9a97ba72a50b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2Vzc25hJTIwMTcyfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000);
    background-size: cover;
    background-attachment: fixed;
}

div.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_header .input-group {
    width: 35%;
    height: 100%;
    background: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table_header .input-group:hover {
    width: 40%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table_header .input-group input{
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    
}

.table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}

.table_body::-webkit-scrollbar{
   width: 0.5rem;
   height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
   border-radius: .5rem;
   background-color: #0004;
}

.nascosto {
    display: none;
}


table {
    width: 100%;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: .4rem;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #d5d1defe;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filters {
    scale: .8;
}

@media(max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}