
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

.bg {
    /* background: url("https://flyingmag1.b-cdn.net/wp-content/uploads/sites/2/2012/02/399113-_BP20765-6c1cfd-original-1629145877-scaled-1.jpg"); */
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    width: 100%;
}

.logo {
  color: black;
}

nav a {
    font-size: 1rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}


header {
    background-color: white;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .5);
}

.card-title {
  text-decoration-color: transparent;
  color: black;
  font-weight: bolder;
}

.nascosto {
    display: none;
}